#menustep {
    margin: 0px auto;
    margin-top: 30px;
    width: 1570px;
}

#menuname {
    width: 1570px;
    margin: 15px auto;
}

#menustep > span {
    font-size: 1.2em;
    color: #999999;
}

#menuname > span {
    font-size: 2em;
    font-weight: bold;
    color: #666666;
}

#deliverystate {
    border: 0px solid black;
    width: 1600px;
    height: 150px;
    margin: 60px 60px;
}

#deliverystate > div {
    float: left;
    border-right: 1px solid #999999;
    width: 533px;
    height: 70px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#deliverystate > div:last-child {
    border-right: 0px;
}

#deliverystate > div > span {
    display: block;
    margin-top: 10px;
}

#search {
    border: 0px solid #999999;
    width: 1600px;
    height: 150px;
    margin: -110px 40px;
}

#search > div {
    border: 1px solid #999999;
    width: 1570px;
    height: 60px;
    margin: auto 15px;
}

#search > div > div {
    background-color: #DDDDDD;
    width: 130px;
    height: 58px;
    padding-top: 18px;
    padding-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
}

#date1, #date2 {
    margin: 16px auto;
    outline: none;
}

#btn {
    width: 300px;
    margin: 160px 760px;
}

.btn {
    margin: auto 2px;
    width: 100px;
    height: 30px;
    padding-bottom: 25px;
}

#searchresult {
    margin: -70px 40px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #666666;
}

#result {
    border: 1px solid #999999;
    width: 1600px;
    height: 200px;
    margin: 10px 54px;
}

#result > span {
    display: inline-block;
    font-size: 1.2em;
    margin: 2px 20px;
    margin-top: 10px;
}

#result > div > table > thead > tr > th {
    margin: auto 20px;
    margin-top: 10px;
    background-color: #DDDDDD;
    font-size: 1.4em;
    font-weight: bold;
}